block vars
  - var rootClass = ''

block add-form
  .ades-add(class=rootClass)
    el-form.ades-add__form(ref="form", :model="info", label-width="100px", :inline="true")
      block form-items
      <br>
      block operations
        .ades-add__operations
          el-button(type="primary", @click="handleAdd") Add