block vars
  - var rootClass = ''

mixin breadcrumb()
  el-breadcrumb.ades-batch-edit__breadcrumb(separator="/")
    block breadcrumb-items

block edit-form
  .ades-batch-edit(class=rootClass)
    +breadcrumb()
    <br>
    el-form.ades-batch-edit__form(ref="form", :model="info", label-width="100px", :inline="true")
      block form-items
      <br>
      block operations
        .ades-batch-edit__operations
          el-button(v-if="!editing", type="primary", @click="handleEdit") Edit
          el-button(v-else, type="primary", @click="handleCancel") Cancel
          el-button(type="primary", :disabled="!editing", @click="handleSave") Save