block edit-form
  .batch-edit-mixin
    el-form.batch-edit-mixin__form(ref="form", :model="info", label-width="100px", :inline="true")
      block edit-form-items
      <br>
      block edit-operations
        .batch-edit-mixin__btn-wrapper
          el-button(v-if="!editing", type="primary", @click="handleEdit") Edit
          el-button(v-else, type="primary", @click="handleCancel") Cancel
          el-button(type="primary", :disabled="!editing", @click="handleSave") Save